<%= render partial: "task_detail_table" %>

<%= form_for @iteration, url: cmd_path(@iteration) do |f| %>
  <% if current_is_author?(@iteration) %>

    <% case @iteration.status.to_sym %>
    <% when :approved, :started %>
      <%# Closing > offset to get rid of spacing issues. %>
      <div class="cmd-console" data-task="<%= @task.id %>" data-exe-url="<%= cmd_path(@task, :task_iterations) %>"
        ><div class="lines"><%= render partial: "console_lines", locals: { lines: @lines, skip_empty: true }
        %></div
        ><div contenteditable="true" autofocus=true class="line cmd-entry"></div
      ></div>

        <%= f.hidden_field :command, value: :close %>
        <%= f.submit "Close Session" %>
    <% when :created, nil %>
      <% if can_approve?(@iteration) %>
        <%= f.hidden_field :command, value: :approve %>
        <%= f.submit "Approve!" %>
      <% else %>
        <%= f.hidden_field :command, value: :request %>
        <%= f.submit "Request Access" %>
      <% end %>
    <% else %>
      <% if @task.first_iteration.success? %>
        <p>Session closed.</p>
      <% end %>
      <div class="cmd-console" readonly=true><%= render partial: "console_lines", locals: { lines: @lines } %></div>
    <% end %>

  <% else %>

    <% if can_approve?(@iteration) && @iteration.pending? %>
      <%= f.hidden_field :command, value: :approve %>
      <%= f.submit "Approve!" %>
    <% end %>
    <% if @task.first_iteration.success? %>
      <p>Session closed.</p>
    <% end %>
    <div class="cmd-console" readonly=true data-status="<%= @iteration.status %>" data-feed="<%= runner_path(@task, @iteration) %>"><%= render partial: "console_lines", locals: { lines: @lines } %></div>

  <% end %>
<% end %>
