<%= render partial: "task_detail_table" %>

<%= form_for @iteration, url: command_proposal.url_for(@iteration) do |f| %>
  <% if command_user&.id == @iteration&.requester&.id %>

    <% case @task.first_iteration.status.to_sym %>
    <% when :approved %>
      <%# Closing > offset to get rid of spacing issues. %>
      <div class="cmd-console" data-task="<%= @task.id %>" data-exe-url="<%= command_proposal.task_iterations_path(@task) %>"
        ><div class="lines"><%= render partial: "lines", locals: { lines: @lines, skip_empty: true }
        %></div
        ><div contenteditable="true" autofocus=true class="line cmd-input"></div
      ></div>

        <%= f.hidden_field :command, value: :close %>
        <%= f.submit "Close Session" %>
    <% when :created, nil %>
      <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Access" %>
    <% else %>
      <% if @task.first_iteration.success? %>
        <p>Session closed.</p>
      <% end %>
      <div class="cmd-console" read-only=true><%= render partial: "lines", locals: { lines: @lines } %></div>
    <% end %>

  <% else %>

    <% if can_approve?(@iteration) && @iteration.pending? %>
      <%= f.hidden_field :command, value: :approve %>
      <%= f.submit "Approve!" %>
    <% end %>
    <% if @task.first_iteration.success? %>
      <p>Session closed.</p>
    <% end %>
    <% if @task.first_iteration.approved? || @task.first_iteration.success? %>
      <div class="cmd-console" read-only=true><%= render partial: "lines", locals: { lines: @lines } %></div>
    <% end %>

  <% end %>
<% end %>
