<table class="cmd-table">
  <thead>
    <th>Requester</th>
    <th>Approver</th>
    <th>Status</th>
    <% if @iteration&.started_at.present? %>
      <th>Started</th>
    <% end %>
    <% if @iteration&.duration.present? %>
      <th>Duration</th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td><%= @iteration&.requester_name %></td>
      <td><%= @iteration&.approver_name %></td>
      <td><%= @iteration&.status&.capitalize %></td>
      <% if @iteration&.started_at.present? %>
        <td><%= @iteration.started_at.strftime("%b %-d, %y %H:%M") %></td>
      <% end %>
      <% if @iteration&.duration.present? %>
        <td><%= humanized_duration(@iteration.duration) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<div class="cmd-terminal"><%= CommandProposal::CommandFormatter.to_html_lines @iteration&.code %></div>

<% if @iteration&.result.present? %>
  <h3>Results: <%= @iteration.success? ? "Success!" : "Failed!" %></h3>
  <div class="cmd-terminal"><%= CommandProposal::CommandFormatter.to_html_lines @iteration.result %></div>
<% end %>

<% if command_user&.id == @iteration&.requester&.id %>
  <% case @iteration.status&.to_sym %>
  <% when :created, :failed, :stopped %>
    <%= link_to "Request Access", [@iteration, command: :request], method: :patch %>
  <% when :approved %>
    <%= link_to "Run!", [@iteration, command: :run], method: :patch %>
  <% when :started %>
    <%= link_to "Stop (With warning about outside of transaction)", [@iteration, command: :stop], method: :patch %>
  <% when :success %>
    <%= link_to "Request Re-Run Access", [@iteration, command: :request], method: :patch %>
  <% end %>
<% elsif can_approve?(@iteration) %>
  <% if @iteration.approved? %>
    <p>Approved. Ready to run.</p>
  <% elsif @iteration.pending? %>
    <%= link_to "Approve!", [@iteration, command: :approve], method: :patch %>
  <% end %>
<% end %>

<% if @task.iterations.many? %>
  <table class="cmd-table">
    <thead>
      <th>Timestamp / Link</th>
      <th>Status</th>
      <th># Comments</th>
      <!-- <th>Diff</th> -->
    </thead>
    <tbody>
      <% @task.iterations.where.not(id: @iteration&.id).order(created_at: :desc).each do |iteration| %>
        <tr>
          <td><%= link_to iteration.created_at.strftime("%b %-d %Y at %H:%M"), task_path(@task, iteration: iteration) %></td>
          <td><%= iteration.status.capitalize %></td>
          <td><%= iteration.comments.count %></td>
          <!-- <td><%= link_to "Diff", task_path(@task, iteration: @iteration, diff: iteration) %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
