<table class="cmd-table">
  <thead>
    <th>Requester</th>
    <th>Approver</th>
    <th>Status</th>
    <% if @iteration&.started_at.present? %>
      <th>Started</th>
    <% end %>
    <% if @iteration&.duration.present? %>
      <th>Duration</th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td><%= @iteration&.requester_name %></td>
      <td><%= @iteration&.approver_name %></td>
      <td data-iteration-status><%= @iteration&.status&.capitalize %></td>
      <% if @iteration&.started_at.present? %>
        <td><%= @iteration.started_at.strftime("%b %-d, %Y at %H:%M") %></td>
      <% end %>
      <% if @iteration&.duration.present? %>
        <td data-iteration-duration><%= humanized_duration(@iteration.duration) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= form_for @iteration do |f| %>
  <% if @iteration.args.present? %>
    <table class="cmd-table">
      <tbody>
        <% @iteration.args.each do |arg_k, arg_v| %>
          <tr>
            <th><%= arg_k %></th>
            <td><%= arg_v %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @iteration&.result.present? || @iteration&.started_at? %>
    <div class="cmd-terminal" data-status="<%= @iteration.status %>" data-feed="<%= task_runner_path(@task, @iteration) %>"><%= ::CommandProposal::CommandFormatter.to_html_lines(@iteration.result) %></div>
  <% end %>

  <% if current_is_author?(@iteration) %>
    <% case @iteration.status&.to_sym %>
    <% when :created, :failed, :stopped %>
      <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Access" %>
    <% when :approved %>
      <%= f.hidden_field :command, value: :run %>
      <%= f.submit "Execute" %>
      <%= f.submit "Cancel", formaction: url_for([@iteration, iteration: {command: :cancel}]) %>
    <% when :started %>
      <%= f.hidden_field :command, value: :stop %>
      <%= f.submit "Stop (With warning about outside of transaction)" %>
    <% when :success %>
      <% unless @task.function? %>
        <%= f.hidden_field :command, value: :request %>
        <%= f.submit "Request Re-Run Access" %>
      <% end %>
    <% end %>
  <% elsif can_approve?(@iteration) %>
    <% if @iteration.approved? %>
      <p>Approved. Ready to run.</p>
    <% elsif @iteration.pending? %>
      <%= f.hidden_field :command, value: :approve %>
      <%= f.submit "Approve!" %>
    <% end %>
  <% end %>
<% end %>

<% if @task.function? %>
  <%= form_for @iteration do |f| %>
    <% if @iteration.params.any? && (@iteration.pending? || @iteration.complete?) %>
      <div class="form-field">
        <% @iteration.params.each do |param_key| %>
          <label for="iteration[args][<%= param_key %>]"><%= param_key %></label>
          <input type="text" name="iteration[args][<%= param_key %>]" value="">
        <% end %>
      </div>
    <% end %>

    <% if @iteration.approved_at? %>
       <%= f.hidden_field :command, value: :run %>
      <%= f.submit "Execute" %>
    <% else %>
       <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Access" %>
    <% end %>
  <% end %>
<% end %>

<div class="cmd-terminal"><%= ::CommandProposal::CommandFormatter.to_html_lines(@iteration&.code) %></div>

<% if @task.iterations.many? %>
  <table class="cmd-table">
    <thead>
      <th>Timestamp / Link</th>
      <th>Status</th>
      <th># Comments</th>
      <!-- <th>Diff</th> -->
    </thead>
    <tbody>
      <% @task.iterations.where.not(id: @iteration&.id).order(created_at: :desc).each do |iteration| %>
        <tr>
          <td><%= link_to iteration.created_at.strftime("%b %-d, %Y at %H:%M"), task_path(@task, iteration: iteration) %></td>
          <td><%= iteration.status.capitalize %></td>
          <td><%= iteration.comments.count %></td>
          <!-- <td><%= link_to "Diff", task_path(@task, iteration: @iteration, diff: iteration) %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
