<%= render partial: "task_detail_table" %>

<%= form_for @iteration, url: command_proposal.url_for(@iteration) do |f| %>
  <% if current_is_author?(@iteration) %>

    <% case @iteration.status&.to_sym %>
    <% when :created %>
      <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Access" %>
    <% when :approved %>
      <p>Include this module in other commands by using <code>bring :<%= @task.friendly_id %></code> at the top of the file.</p>
    <% end %>

  <% elsif can_approve?(@iteration) %>

    <% if @iteration.approved? %>
      <p>Approved. Ready to run.</p>
    <% elsif @iteration.pending? %>
      <%= f.hidden_field :command, value: :approve %>
      <%= f.submit "Approve!" %>
    <% end %>

  <% end %>
<% end %>

<textarea class="cmd-terminal" readonly=true><%= @iteration&.code %></textarea>

<% render partial: "past_iterations_list" %>
