<table class="cmd-table">
  <thead>
    <th>Requester</th>
    <th>Approver</th>
    <th>Started</th>
    <th>Status</th>
    <th>Duration</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @iteration&.requester_name.presence || "ID: #{@iteration&.requester_id}" if @iteration&.requester_id.present? %></td>
      <td><%= @iteration&.approver_name.presence || "ID: #{@iteration&.approver_id}" if @iteration&.approver_id.present? %></td>
      <td><%= @iteration&.started_at&.strftime("%b %-d '%y, %-l:%M%P") %></td>
      <td data-iteration-status><%= @iteration&.status&.capitalize %></td>
      <td data-iteration-duration><%= humanized_duration(@iteration&.duration) %></td>
    </tr>
  </tbody>
</table>

<% if @iteration&.args.present? %>
  <table class="cmd-table">
    <tbody>
      <% @iteration.args.each do |arg_k, arg_v| %>
        <tr>
          <th class="cmd-text-right"><%= arg_k %></th>
          <td><%= arg_v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
