<table class="cmd-table">
  <thead>
    <th>Requester</th>
    <th>Approver</th>
    <% if @iteration&.started_at.present? %>
      <th>Started</th>
    <% end %>
    <th>Status</th>
    <% if @iteration&.duration.present? %>
      <th>Duration</th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td><%= @iteration&.requester_name %></td>
      <td><%= @iteration&.approver_name %></td>
      <% if @iteration&.started_at.present? %>
        <td><%= @iteration.started_at.strftime("%b %-d '%y, %-l:%M%P") %></td>
      <% end %>
      <td data-iteration-status><%= @iteration&.status&.capitalize %></td>
      <% if @iteration&.duration.present? %>
        <td data-iteration-duration><%= humanized_duration(@iteration.duration) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if @iteration&.args.present? %>
  <table class="cmd-table">
    <tbody>
      <% @iteration.args.each do |arg_k, arg_v| %>
        <tr>
          <th><%= arg_k %></th>
          <td><%= arg_v %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
