<%= render partial: "task_detail_table" %>

<%= form_for @iteration do |f| %>
  <% if @iteration&.result.present? || @iteration&.started_at? %>
    <div class="cmd-terminal" data-status="<%= @iteration.status %>" data-feed="<%= task_runner_path(@task, @iteration) %>"><%= ::CommandProposal::CommandFormatter.to_html_lines(@iteration.result) %></div>
  <% end %>

  <% if current_is_author?(@iteration) %>

    <% case @iteration.status&.to_sym %>
    <% when :created, :stopped %>
      <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Access" %>
    <% when :failed %>
      <p>Edit task to attempt to run again.</p>
    <% when :approved %>
      <%= f.hidden_field :command, value: :run %>
      <%= f.submit "Execute" %>
      <%= f.submit "Cancel", formaction: url_for([@iteration, iteration: {command: :cancel}]) %>
    <% when :started %>
      <%= f.hidden_field :command, value: :stop %>
      <%= f.submit "Stop (With warning about outside of transaction)" %>
    <% when :success %>
      <%= f.hidden_field :command, value: :request %>
      <%= f.submit "Request Re-Run Access" %>
    <% end %>
    
  <% elsif can_approve?(@iteration) %>

    <% if @iteration.approved? %>
      <p>Approved. Ready to run.</p>
    <% elsif @iteration.pending? %>
      <%= f.hidden_field :command, value: :approve %>
      <%= f.submit "Approve!" %>
    <% end %>

  <% end %>
<% end %>

<div class="cmd-terminal"><%= ::CommandProposal::CommandFormatter.to_html_lines(@iteration&.code) %></div>

<% render partial: "past_iterations_list" %>
