<div class="cmd-wrapper">
  <%= form_for(@task) do |f| %>
    <div class="cmd-field">
      <% if @task.persisted? %>
        <a href="<%= task_path(@task) %>" class="btn">&larr; Back to Task</a>
      <% else %>
        <a href="<%= tasks_path %>" class="btn">&larr; Back to Tasks</a>
      <% end %>
    </div>

    <div class="cmd-field">
      <%= f.text_field :name, placeholder: "Title" %>
    </div>

    <div class="cmd-field">
      <%= f.text_area :description, placeholder: "Description" %>
    </div>

    <% unless @task.persisted? %>
      <div class="cmd-field">
        <p>
          <%= f.radio_button :session_type, :task %>
          <%= f.label :session_type, value: :task do %>
            Task - Batch of code that typically only needs to be executed once. (Can be re-run if needed)
          <% end %>
        </p>
        <p>
          <%= f.radio_button :session_type, :console %>
          <%= f.label :session_type, value: :console do %>
            Console - Starts a session that allows line-by-line commands to be executed.
          <% end %>
        </p>
        <p>
          <%= f.radio_button :session_type, :function %>
          <%= f.label :session_type, value: :function do %>
            Function - Reusable batch of code, can accept arguments
          <% end %>
        </p>
      </div>
    <% end %>

    <% if @task.persisted? && (@task.task? || @task.function?) %>
      <% if @task.function? %>
        <p>Use <code>params[:key]</code> to reference values that can be passed in. UI will provide fields when running.</p>
        <p>NOTE: All params will come through as strings.</p>
      <% end %>

      <div class="cmd-field">
        <%= f.label :code %>
        <div class="cmd-terminal" contenteditable="true" autofocus=true><%= ::CommandProposal::CommandFormatter.to_html_lines @task.code %></div>
        <input type="hidden" name="task[code_html]" id="task_code_html">
      </div>
    <% end %>

    <div class="cmd-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
