<div class="cmd-wrapper">
  <% if @task.persisted? %>
    <a href="<%= command_proposal.task_path(@task) %>">&larr; Back to <%= @task.session_type.capitalize %></a>
    <h2>Edit <%= @task.name.presence || "Command" %></h2>
  <% else %>
    <a href="<%= command_proposal.tasks_path %>">&larr; Back to Command</a>
    <h2>New Command</h2>
  <% end %>

  <%= form_for(@task, url: command_proposal.url_for(@task)) do |f| %>
    <div class="cmd-field">
      <%= f.text_field :name, placeholder: "Title" %>
    </div>

    <div class="cmd-field">
      <%= f.text_area :description, placeholder: "Description" %>
    </div>

    <% unless @task.persisted? %>
      <div class="cmd-field">
        <p>
          <%= f.radio_button :session_type, :task %>
          <%= f.label :session_type, value: :task do %>
            Task - Batch of code that typically only needs to be executed once. Requires approval for every new run.
          <% end %>
        </p>
        <p>
          <%= f.radio_button :session_type, :console %>
          <%= f.label :session_type, value: :console do %>
            Console - Starts a session that allows line-by-line commands to be executed. Requires approval only to begin session.
          <% end %>
        </p>
        <p>
          <%= f.radio_button :session_type, :function %>
          <%= f.label :session_type, value: :function do %>
            Function - Reusable batch of code, can accept arguments. Only requires approval on code changes.
          <% end %>
        </p>
        <p>
          <%= f.radio_button :session_type, :module %>
          <%= f.label :session_type, value: :module do %>
            Module - An includable batch of code that can give accessible methods to a function or task. Requires approval on code changes.
          <% end %>
        </p>
      </div>
    <% end %>

    <% if @task.persisted? && !@task.console? %>
      <% if @task.function? %>
        <p>Use <code>params[:key]</code> to reference values that can be passed in. UI will provide fields when running.</p>
        <p>NOTE: All params will come through as strings.</p>
      <% end %>

      <div class="cmd-field">
        <%= f.label :code %>
        <%= f.text_area :code, class: "cmd-terminal" %>
      </div>
    <% end %>

    <div class="cmd-submission">
      <%= f.submit %>
    </div>
  <% end %>
</div>
