<div class="cmd-wrapper">
  <%= link_to "New Command", new_task_path %>

  <%= link_to "Tasks", toggled_param(filter: :task), class: :btn %>
  <%= link_to "Functions", toggled_param(filter: :function), class: :btn %>
  <%= link_to "Consoles", toggled_param(filter: :console), class: :btn %>
  <%= link_to "Modules", toggled_param(filter: :module), class: :btn %>

  <%= form_for "", url: search_tasks_path(current_params.except(:search)) do |f| %>
    <div class="cmd-flex-row">
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <table class="cmd-table">
    <thead>
      <th>Name</th>
      <th>Desc</th>
      <th>Status</th>
      <th>Type</th>
      <th>Last Run</th>
      <th>Author</th>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= task.description&.truncate(100) %></td>
          <td><%= task.status&.capitalize || "Pending" %></td>
          <td><%= task.session_type.capitalize %></td>
          <td><%= task.current_iteration_at&.strftime("%b %-d, %y %H:%M") %></td>
          <td><%= task.current_iteration_by %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
