<div class="cmd-wrapper">
  <%= link_to "New #{params[:filter].presence&.capitalize || 'Command'}", cmd_path(:new, :task, session_type: params[:filter] || :task) %> <br>
  <br>
  <%= link_to "All", toggled_param(filter: :all), class: "cmd-tab #{:active if params[:filter] == "all"}"
  %><% ::CommandProposal::Task.session_types.each_with_index do |(session_type, _session_enum), idx| %><%=
    selected = params[:filter] == session_type.to_s || (!params.key?(:filter) && session_type == "function")
    # Offset closing RB tags to fix spacing issues
    link_to session_type.capitalize, toggled_param(filter: session_type), class: "cmd-tab #{:active if selected}"
  %><% end %>
  <br>
  <br>

  <%= form_for "", url: cmd_path(:search, :tasks, current_params.except(:search)) do |f| %>
    <div class="cmd-flex-row">
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: "cmd-input" %>
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <div class="cmd-index-table">
    <% @tasks.each do |task| %>
      <%= link_to cmd_path(task), class: "cmd-index-table-row" do %>
        <div class="cmd-index-col cmd-col-status">
          <div class="cmd-status" data-status="<%= task.status %>"><i class="<%= icon(task.status) %>"></i></div>
        </div>
        <div class="cmd-index-col cmd-col-title">
          <div>
            <span class="cmd-name"><%= task.name %></span>
            <% if task.duration.present? %>
              <span class="cmd-duration"><%= humanized_duration(task.duration) %><%= "..." unless task.primary_iteration.complete? %></span>
            <% end %>
          </div>
          <div class="cmd-desc"><%= task.description %></div>
        </div>
        <div class="cmd-index-col cmd-col-type">
          <div class="cmd-type"><%= task.session_type.capitalize %></div>
        </div>
        <div class="cmd-index-col cmd-col-info">
          <div class="cmd-timestamp"><%= task.last_executed_at&.strftime("%b %-d '%y, %-l:%M%P") || "Never Run" %></div>
          <div class="cmd-author"><%= task.current_iteration_by %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= command_paginate @tasks %>
</div>
