<%= link_to "New Command", new_task_path %>

<%= link_to "Tasks", toggled_param(filter: :task), class: :btn %>
<%= link_to "Functions", toggled_param(filter: :function), class: :btn %>
<%= link_to "Consoles", toggled_param(filter: :console), class: :btn %>

<table>
  <thead>
    <th>Name</th>
    <th>Desc</th>
    <th>Status</th>
    <th>Type</th>
    <th>Last Run</th>
    <th>Run by</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name.presence || "Task #{task.id}", task_path(task) %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.session_type %></td>
        <td><%= task.current_iteration_at&.strftime("%b %-d, %y %H:%M").presence || "N/A" %></td>
        <td><%= task.current_iteration_by.presence || "N/A" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
