<div class="cmd-wrapper">
  <%= link_to "All Tasks", cmd_path(:tasks) %> | <%= link_to "Edit #{@task.session_type.humanize}", cmd_path(:edit, @task) %>

  <h2><%= @task.name %></h2>
  <% if @task.description.present? %>
    <p><%= @task.description %></p>
  <% end %>

  <%= render partial: "#{@task.session_type}_show" %>
</div>
