<div class="cmd-wrapper">
  <%= link_to "Edit #{@task.session_type.humanize}", edit_task_path(@task) %>

  <h2><%= @task.name %></h2>
  <% if @task.description.present? %>
    <p><%= @task.description %></p>
  <% end %>

  <% if @task.console? %>
    <%= render partial: "console_show" %>
  <% else %>
    <%= render partial: "function_show" %>
  <% end %>
</div>
