<script type="text/javascript">
  display_caret_block = false
</script>

<%= link_to "Edit", edit_task_path(@task) %>
<h2><%= @task.name %></h2>
<p><%= @task.description %></p>

<% if @task.console? %>
  <%= render partial: "console_show" %>
<% else %>
  <%= render partial: "function_show" %>
<% end %>
